---
BasedOnStyle: LLVM
UseTab: Always
TabWidth: 2
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
ContinuationIndentWidth: 2
IncludeBlocks: Merge
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false
AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign
AlwaysBreakBeforeMultilineStrings: true
...
